[submodule "heaps"]
	path = heaps
	url = https://github.com/HeapsIO/heaps
[submodule "deepnightLibs"]
	path = deepnightLibs
	url = https://github.com/deepnight/deepnightLibs
[submodule "castle"]
	path = castle
	url = https://github.com/ncannasse/castle
[submodule "heapsOgmo"]
	path = heapsOgmo
	url = https://github.com/deepnight/heapsOgmo
